$primary-color: #333;
$secondary-color: #fff;
$tertiary-color: #0bc8ff;
$quaternary-color: #1a133c;
$font-family: Arial, sans-serif;

/* Mudando a cor da barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

/* Mudando a cor do indicador */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: $tertiary-color;
}

/* Mudando a cor do indicador ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #0bc8ff;
}

body {
  margin: 0;
  font-family: $font-family;



  .container {
    section#inicio {
      background-image: linear-gradient(#000000fa, #000000fa),
        url("assets/img/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
    }

    header {
      padding-top: 10px;

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5vh;
        color: $secondary-color;
        padding: 0 60px;

        h1 {
          font-weight: 500;
          font-size: 22.5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 15px;

          span {
            color: $tertiary-color;
            font-weight: 400;
            font-size: 13px;
          }
        }

        ul {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            font-weight: 300;
            font-size: 16px;

            #logo-title {
              color: $tertiary-color;
              font-weight: 500;
            }

            &:not(:last-child) {
              margin-right: 40px;
            }

            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }

        li {
          list-style: none;

          #button {
            color: $quaternary-color;
            font-weight: 600;
            font-size: 15px;
            text-decoration: none;
            background-color: $tertiary-color;
            padding: 5px 15px;
            border-radius: 100px;
          }
        }
      }
    }

    main {
      display: flex;
      flex-direction: column;
      width: 100%; // Ensure full width
      overflow: hidden; // Prevents scrollbars from appearing

      section {
        height: 100vh;
        /* Cada seção ocupa 100% da altura da viewport */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; // Ensure full width
      }

      section.intro {
        .content {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: #fff;

          h1 {
            font-size: 58px;
            font-weight: 600;
          }

          #skills {
            font-size: 19px;
            font-weight: 400;
            margin: 10px;
          }

          p {
            max-width: 600px;
            margin: 5px;
            font-weight: 300;
            text-align: center;
          }

          .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            width: 60%;

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-weight: 500;

              img {
                margin-left: 10px;
              }
            }

            #button-git {
              text-decoration: none;
              background-color: $tertiary-color;
              color: $quaternary-color;
              font-weight: 600;
              padding: 5px 15px;
              border-radius: 100px;
            }
          }
        }
      }

      section#sobre {
        background-image: linear-gradient(rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.985)),
          url("assets/img/about.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;

        .content__sobre {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            line-height: 100px;

            span {
              color: $tertiary-color;
            }

            font-size: 80px;
            font-weight: 600;
          }

          #sub-title {
            font-size: 20px;
            font-weight: 200;
            margin-bottom: 60px;

            span {
              color: $tertiary-color;
            }
          }

          .box__infos {
            display: flex;
            justify-content: center;
            align-items: center;

            .espacamento {
              margin: 70px;
            }

            .text {
              max-width: 32.500%;
              margin-right: 20px;
              font-size: 16px;
              font-weight: 200;

              p {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}